$fonts: (
  colors: $black,
  family: (Roboto, Helvetica, Arial, sans-serif),
  size: 14px,
  line-height: 1.4
);
@function fonts($level) {
  @return map-get($fonts, $level);
}

html {
  font-size: fonts(size);
}

//
// $theme-colors: (
//   'primary': (
//     'base': #f4516c,
//     'light': #fa5a75,
//     'dark': #e74c66
//   ),
//   'accent': (
//     'base': #f08110,
//     'light': #ff8100,
//     'dark': #e47f17
//   ),
//   'foreground': (
//     'base': #242841,
//     'light': #2c314e,
//     'dark': #1c1f32
//   ),
//   'background': (
//     'base': #f0f1f7,
//     'light': #fff,
//     'dark': #ddd
//   )
// );
//
// @function theme-color($key: 'primary', $variant: 'base') {
//   $map: map-get($theme-colors, $key);
//   @return map-get($map, $variant);
// }
// .selector{
//   background-color: theme-color(); // "primary base" color;
// background:theme-color('background', 'base');
// }


body {
  padding: 70px 0 0;
  margin: 0;
  color: fonts(colors);
  font-family: fonts(family);
  font-size: fonts(size);
  line-height: fonts(line-height);
  background:$off-white;
  // overflow-x: hidden;
}

* {
  min-height: 0;
  min-width: 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
    outline: none !important;
  }
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button:active,
button:focus,
input:focus {
  outline: none !important;
}
.text-center{
  text-align: center!important;
}
.center-block {
  display: block;
  margin: 0 auto;
}
.btn-block{
  width: 100%;
  display: block;
}
.ml-auto,.ml-sm-auto, .mx-sm-auto {
    margin-left: auto !important;
}

.list-inline {
    padding-left: 0;
    list-style: none;
    &-inline-item {
        display: inline-block;
    }
}
