@font-face {
  font-family: 'beargo';
  src: url('../fonts/beargo.woff?l6kzqc') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'beargo' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: inline-block;
  text-decoration: inherit;
  // width: 1em;
  margin-right: .2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  // line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-time:before {
  content: "\e900";
}
.icon-attach_money:before {
  content: "\e901";
}
.icon-back:before {
  content: "\e902";
}
.icon-more:before {
  content: "\e903";
}
.icon-notifications:before {
  content: "\e904";
}
.icon-person:before {
  content: "\e905";
}
.icon-assignment:before {
  content: "\e906";
}
.icon-pan_tool:before {
  content: "\e907";
}
.icon-hail:before {
  content: "\e908";
}
.icon-facebook:before {
  content: "\e909";
}
.icon-alert:before {
  content: "\e90a";
}
.icon-bold:before {
  content: "\e90b";
}
.icon-briefcase:before {
  content: "\e90c";
}
.icon-calendar:before {
  content: "\e90d";
}
.icon-check:before {
  content: "\e90e";
}
.icon-down:before {
  content: "\e90f";
}
.icon-left:before {
  content: "\e910";
}
.icon-right:before {
  content: "\e911";
}
.icon-up:before {
  content: "\e912";
}
.icon-circle:before {
  content: "\e913";
}
.icon-clipboard:before {
  content: "\e914";
}
.icon-copy:before {
  content: "\e915";
}
.icon-download:before {
  content: "\e916";
}
.icon-edit:before {
  content: "\e917";
}
.icon-blog:before {
  content: "\e918";
}
.icon-eye:before {
  content: "\e919";
}
.icon-eye-off:before {
  content: "\e91a";
}
.icon-file-text:before {
  content: "\e91b";
}
.icon-flag:before {
  content: "\e91c";
}
.icon-gift:before {
  content: "\e91d";
}
.icon-globe:before {
  content: "\e91e";
}
.icon-grid:before {
  content: "\e91f";
}
.icon-hash:before {
  content: "\e920";
}
.icon-heart:before {
  content: "\e921";
}
.icon-help:before {
  content: "\e922";
}
.icon-home:before {
  content: "\e923";
}
.icon-image:before {
  content: "\e924";
}
.icon-instagram:before {
  content: "\e925";
}
.icon-lock:before {
  content: "\e926";
}
.icon-mail:before {
  content: "\e927";
}
.icon-message-circle:before {
  content: "\e928";
}
.icon-message-square:before {
  content: "\e929";
}
.icon-minus:before {
  content: "\e92a";
}
.icon-paperclip:before {
  content: "\e92b";
}
.icon-phone:before {
  content: "\e92c";
}
.icon-play:before {
  content: "\e92d";
}
.icon-plus:before {
  content: "\e938";
}
.icon-printer:before {
  content: "\e92e";
}
.icon-search:before {
  content: "\e92f";
}
.icon-send:before {
  content: "\e930";
}
.icon-settings:before {
  content: "\e931";
}
.icon-share-2:before {
  content: "\e932";
}
.icon-shield:before {
  content: "\e933";
}
.icon-shopping-cart:before {
  content: "\e934";
}
.icon-thumbs-up:before {
  content: "\e935";
}
.icon-trash:before {
  content: "\e936";
}
.icon-truck:before {
  content: "\e937";
}
.icon-upload:before {
  content: "\e939";
}
.icon-close:before {
  content: "\e93b";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-instagram1:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-linkedin:before {
  content: "\eaca";
}
