@import "variables";
@import "mixins";
.breadcrumb{
  margin: 2.25rem 0;
  &-nav{
    margin: 0;
    &-item{
      color: $gray;
      letter-spacing: 0.35px;
      vertical-align: middle;
      font-size: 16px;
      &:not(:first-child):after{
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: $gray;
        display: inline-block;
        margin: 0 10px 0 15px;
        vertical-align: middle;
      }
      &:first-child{
        margin-right: 1rem;
      }
      &:last-child::after{
        display: none;
      }
    }
    &-link{
      color:$base-color;
      @extend .animate;
      &:hover{
        color: $brand-color;
      }
    }
  }
}
