@import "variables";
@import "mixins";
%radio-check{
  display: block;
  position: relative;
  margin-bottom: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
%shape{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 18px;
  background:$white;
  margin-right: 5px;
  @extend .animate;

}
.checkbox {
 @extend %radio-check;
}

.checkbox input,.radio input {
 position: absolute;
 opacity: 0;
 cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
@extend %shape;
 border-radius: 2px;
 border: 1px solid $gray;
}

.checkbox input:checked ~ .checkmark {
 background:$brand-color;
 border: 1px solid $brand-color;
}

.checkmark:after {
 content: "";
 position: absolute;
 display: none;
}

.checkbox input:checked ~ .checkmark:after{
 display: block;
}

.checkbox .checkmark:after {
 left: 5px;
 top: 1px;
 width: 6px;
 height: 11px;
 border: solid $white;
 border-width: 0 2px 2px 0;
 -webkit-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 transform: rotate(45deg);
}

// Radio
.radio {
   @extend %radio-check;
}
.radio-mark {
  @extend %shape;
  @include shadow(0 0 0 2px darken($gray,10) inset);
  border-radius: 50%;
}

.radio input:checked ~ .radio-mark {
  @include shadow(0 0 0px 5px $brand-color inset);
}
.select-style {
    background: url("#{$img-path}/search-dropdown.svg");
    background-repeat: no-repeat;
    background-color: $white;
    background-position: calc(100% - 10px) center;
    margin: 0;
    overflow: hidden;
    padding:2px 0;
    border-radius: 0.125rem;
    width: 100%;
    border: 1px solid darken($off-white,07);
    @include cover(16px);
}

.select-style select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    background-image: none;
    border: medium none;
    box-shadow: none;
    font-size: 14px;
    padding: 2px 8px;
    width: 100%;
    color: $gray-dark;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.select-style select {
    padding: 7px 8px;
}
}
.select-style select option {
    background: #ebebeb none repeat scroll 0 0;
    border: medium none;
    color: #333333;
    padding: 3px 0;
}

.select-style select option:hover {
    color: #fff;
}

.select-style select:focus {
    outline: medium none;
}

.form{
@at-root .col-form-label{
  color: $gray-dark;
  letter-spacing: 0.25px;
  font-size: 13px;
}
&-control{
@extend .animate;
padding:10px 12px;
border-radius: 6px;
resize: none;
border: 1px solid darken($off-white,09);
color: $gray;
&:focus{
  @include shadow(none);
  border: 1px solid darken($off-white,15);
}
&.datepicker{
  background: url('#{$img-path}/calendar.svg') no-repeat 98% center;
  @include cover(18px);
}
}
ul{
  margin: 0;
  @include translate(0,5px);
}
@at-root {
  .common-btn{
    background: $brand-color;
    border: none;
    border-radius: 2px;
    letter-spacing: 0.35px;
    font-weight: 500;
    padding: 10px 20px;
    font-size: 16px;
    @extend .animate;
    cursor: pointer;
    color: $white;
    &:hover{
      @extend .shadow;
      background: $base-color;
    }
  }
}
}
%selectors-check{
  border: 2px solid $off-white;
  color: $gray;
  font-size: 1rem;
  padding: 6px 15px 6px;
  background: $white;
  display: inline-block;
  @extend .animate;
  line-height: 1;
  width: 100%;
}
%selectors-checked{
  border: 2px solid $brand-color;
  color: $white;
  background: $brand-color;
}
.selectors{
  height: 375px;
  overflow-y: auto;
  ul{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 0 5px;
    li{
      display: inline-block;
      margin: 5px 0 0 0;
    }
  }
  label{
    margin-bottom: 0;
    display: block;
  }
  input[type=checkbox],input[type=radio]{
    display: none;
  }
  input[type=checkbox] + span,input[type=radio] + span {
  @extend %selectors-check;
}
input[type=checkbox]:checked + span,input[type=radio]:checked + span {
  @extend %selectors-checked;
}
}
.blocked-list{
  @extend .selectors;
  height: auto;
  ul{
    display: block;
    margin-bottom: 20px;
  }
}
